.form_title{
    font-weight: 800;
    padding-top: 150px;
    padding-bottom: 20px;
}
.form_sub{
    color: rgb(143 147 148);
    padding-bottom: 20px;
}
.form_Wrap{
    background-color: #fcfcfc;
    padding: 30px 0;
}
form{
    margin: auto;
    width: 800px;
}
.col-form-label{
	width:30%;
}

.col-sm-10 {
    width:65%
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border:none;
    outline: 0;
    box-shadow: 0 0 0 0
}
.form-check-input:checked {
    background-color: #7aa9ee;
}
.post-wrap{
	display:flex;
}
/* 버튼 */
.btn_wrap{
    display: flex;
    justify-content: space-evenly;
}
.btn{
    margin-top: 20px;
    width: 48%;
    background-color: #3399ff;
    font-size: 16px;
    letter-spacing: -0.5px;
    color: #fff;
    font-weight: bold;
    border:none;
    border-radius: 0;
    padding: 10px 0;
}
.readbtn{
	    background-color: #adadad;
}
.readbtn:hover {
	  background-color: #adadad;
}
.readbtn:first-child:active{
	background-color: #adadad;
}