.list_wrap{
    margin-top: 150px;
}

.search {
    position: relative;
    width: 300px;
    margin: 20px 0;
  }
  
  input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
  }
  
  img {
    position: absolute;
    width: 17px;
    top: 11px;
    right: 12px;
    margin: auto;
    opacity: 0.5;
    display: block;
  }
   .memimg {
    position: relative;
    width: 105px;
    height:90px;
    right: 0px;
    margin-top:20px;
    border-radius: 30%;
    border: 2px solid black;
  	opacity: 1;  
  	}
  	.logo{
  	position: relative;
    width: 100px;
    height:30px;
    top:0px;
    right: 0px;
    opacity: 1;
  	}