li{
   list-style-type: none;
}
a{
    text-decoration-line: none;
    color: #000;
}
p{
    margin: 0;
}

/* ------------------section----------------------- */
section{
    padding: 50px 0;
}
.job_rec_wrap{
    padding: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.main_job_cont{
    min-width: 24%;
    padding-top: 10px;
    height: 150px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 0 0 5px 5px;
}
.title_wrap{
	padding-bottom:10px;
}

.job_title{
    margin-top: 10px;
    font-size: larger;
    font-weight: 800;
}
.rec_sub_wrap{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.corp_nm{
    font-weight: 600;
    color: #999aa0;
}
.title_lim{
	max-width: 280px;
    padding:0 5px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.rec_date{
    color: #5545be;
}
/* -------------------info----------------------- */
.info_wrap{
	
    display: flex;
    width: 100%;
    min-height: 800px;
    background-color: #fcfcfc;
    padding: 30px 0;
}
.info_left{
    width: 20%;
    height: inherit;

}
.info_title{
    padding-top: 10px;
}
.info_title a{
    color: #424244;
}
.info_title a:hover{
    color: #282828;
    text-decoration:underline;
}
.info_right{
    width: 80%;
    height: 100%;
}
.topic{
    font-weight: 700;
    margin-left: 20px;
}
.topic::after{
    display: block;
    content: "";
    margin-top: 10px;
    width: 145px;
    height: 2px;
    background-color: #929292;
}
.topic:nth-last-of-type(1){
    margin-top: 35px;
}
/* -------------------swiper----------------------- */
.mySwiper{
	height:170px;
}
.sw-wrap{
	background-color: white;
	padding-top:100px
}
.sw-img{
	width:100%;
	top:0;
	opacity:1;
}
.w-bg{
	background-color: white;
	padding: 40px;
    box-sizing: border-box;
}
.rec_condition{
	padding-bottom: 30px;
	border-bottom: 3px solid #eee;
}
.con_icon{
	 width: 100px;
}
.con_title{
	    padding: 0 7px;
}
.rec_info{
	padding-top: 30px;
}
.rec_info_det{
	font-size: 20px;
	display: flex;
	align-items: center;

}
.info_icon_wrap{
	display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #4581af;
   	margin-right: 10px;
}
.info_img{
	width: 30px;
    position: inherit;
    opacity: 1;
}
.btn-w{
	
}
.btn-g{
	
}
.btn-y{
background-color: #fbb953;
}